.darkmode{
    background-color: black;
    color: white;
}

h1{
    font-size: 90px;
    font-family: gabriola;
    color: orange;
}

h3{
    font-size: 45px;
    font-family: gabriola;
    color: orange;
}

#ico{
    color: white;
    font-size: 30px;
}

#ico:hover{
    color: black;
}

.abt{
    font-family: Kalam;
    font-size: 15px;
    float: left;
    height: 300px;
}

.abtim{
    width: 25%;
}

.abtcont{
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    height: 300px;
    margin-bottom: 2%;
}

.headi{
    line-height: 0.2;
    height: 30%;
    width: 100%;
    /* background-image: url("bgimg1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    /* background-color: black; */
    align-content: center;

}

.cont{
    background-color: white;
    height: 100%;
    width: 30%;
    text-align: center; 
    border : 1px solid white;
}

.desc{
    font-family: Kalam;
    font-size: 24px;
}


.lin{
    line-height: 0.05;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(45deg,orange,rgb(255, 81, 0)) ;
    font-family: agency fb;
    font-size: 18pt;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.8s;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
    transition-duration: 0.8s;
}
  
li.dropdown {
    display: inline-block;
    
}
  
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-image: linear-gradient(90deg,orange,rgb(255, 81, 0));
    
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: white;color:black;transition-duration: 0.8s;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.somet{
    position: sticky;
    top : 0;
    align-items: center;
}

.ttt{position:fixed ; bottom:0 ; right :0 ;margin-bottom: 10px;margin-right: 10px; width :40px ; height : 40px }
@media screen and (max-width: 600px) {
  .ttt {float:none;
    width: 10%;
    height : 5%; margin-bottom: 10px;margin-right: 10px;
  }
}

.but{
    border-radius: 0px 30px 30px 30px;
    color: white;
    background-image: linear-gradient(45deg,orange,rgb(255,81,0));
    border-style: none;
    font-family: Changa;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float:left;
    padding-top: 1%;
    padding-bottom: 1%;
    width : 20%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-top: 6.5%;
    margin-bottom: 3%;
}

@media screen and (max-width: 600px) {
    .but {
        width: 75%;
        display: block;
        margin-bottom: 10px;
        margin-left: 12.5%;
    }
    
  }

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hedec{
    font-family: Lato;
    font-size: 28px;
    border-radius: 0px 40px 40px 40px;
    background-image: linear-gradient(45deg,orange,rgb(255,81,0));
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width: 600px) {
    .hedec {
      width: 100%;
      display: block;
      height: fit-content;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    
  }

i:hover{
    animation: bounce2 1.5s ease infinite;;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

.wave{
    top:0;
    opacity: 0;
}


/* Cood.html Styling */

.coodhead{
    font-size: 75px;
    font-family: gabriola;
    color: orange;

}

.coodcont{
    font-family: Kalam;
    font-size: 30px;
    color: black;
}

.coodtrav{
    font-family: AbeeZee;
    border-radius: 100px;
    border-style: none;
    height: 15%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,orange,rgb(255,81,0));
    color: white;
}

.fnt{
    font-size: 25px;
}

.links{
    font-family: Roboto;
    font-size: 20px;
}

/* Profile Creation Page */
